* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /* CSS Variables */
  --color-primary: #ef2626;
  --color-secondary: #265AEF;
  --color-accent: #470055;
  --color-background: #f2fffe;
  --color-surface: white;
  --color-text: #000;
  --color-text-disabled: #aaa;
  --color-shadow: gray;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img.needle {
  transform: translate(35%,-170%);
  position: absolute;
  left: 127%;
  transform-origin: 87px 10px;
  bottom: 0;
  transform-origin: right;
}

.meters-wrapper {
  display: flex;
}

.meter-panal {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.meter {
  margin: 5px;
  position: relative;
}
