*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color:#faffffff ;
}
.background{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.heel{
    display: flex;
    justify-content: center;
}
.top{
    margin-bottom: 30px;
}
.hp{
    width: 100%;
}
.bottom{
    margin-top: 30Px;
}
.power{
    width: 100%;
}

.box{
    text-align: center;
    display: flex;
    margin:15px;
    width:100%;
    height:130px;
    background-size:cover;
    background-color:rgba(255, 255, 255,1.0);
    background-blend-mode:lighten;
    border:4px solid #008b8b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: block;
    margin:auto;
    width: 200px;
    height: 80px;
    
}
.logo{
    width: 100%;
}