*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color:#faffffff ;
}
.background{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.vs{
    width: 50%;
}
.enemy{
    width:100%;
    margin: 20%;
}
.heel{
    display: flex;
    justify-content: center;
}
.top{
    margin-bottom: 30px;
}
.hp{
    width: 100%;
}
.bottom{
    margin-top: 30Px;
}
.power{
    width: 100%;
}

.box{
    display: flex;
    margin:15px;
    width:350px;
    height:130px;
    background-size:cover;
    background-color:rgba(255, 255, 255,1.0);
    background-blend-mode:lighten;
    border:4px solid #008b8b;
}
.power{
    position: relative;
}
img.needle{
    transform: translate(35%,-170%);
    position: absolute;
    left: 127%;
    transform-origin: 87px 10px;
    bottom: 0;
    transform-origin: right;
    
}
button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 8px;
    color: var(--color-text-dark);
    background-color: var(--color-background-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.meters-wrapper {
    display: flex;
}

.meter-panal {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.meter {
    margin: 5px;
    position: relative;
}